<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MenuDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MenuDemo02.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A05E13C1D1A620E00594261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A05E1541D1A620E00594261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A05E15F1D1A620E00594261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1EE8651D1A240400BE0E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1EE87E1D1A240400BE0E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A1EE8891D1A240400BE0E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
